section.section-features 
    .container 
        .section-features__row 
            .section-features__img 
                img(src="./img/Illustration-2.png", alt="features")
            .section-features__content
                .section-features__title 
                    h2.title-2 We Provide Many Features You Can Use
                .section-features__text 
                    p You can explore the features that we provide with fun and have their own functions each feature.
                ul.section-features__list 
                    li.section-features__list-item Powerfull online protection.
                    li.section-features__list-item Internet without borders.
                    li.section-features__list-item Supercharged VPN
                    li.section-features__list-item No specific time limits.          