section.section-map 
    .container 
        .section-map__header 
            h2.section-map__title.title-2 Huge Global Network of Fast VPN
            p.subtitle 
                | See 
                span LaslesVPN
                |  everywhere to make it easier for you when you move locations.
        .section-map__img 
            img(src="./../img/Map.png", alt="")
        .section-map__sponsors 
            .sponsors 
                a(href="").sposors__item
                    img(src="./../img/netflix.svg", alt="Netflix")
                a(href="").sposors__item
                    img(src="./../img/Reddit.svg", alt="Reddit") 
                a(href="").sposors__item
                    img(src="./../img/Amazon.svg", alt="Amazon") 
                a(href="").sposors__item
                    img(src="./../img/Discord.svg", alt="Discord") 
                a(href="").sposors__item
                    img(src="./../img/Spotify.svg", alt="Spotify")  