mixin user(img, name, country, rate, review) 
    .comment-card
        .comment-card__row 
            .comment-card__info
                img(src="./img/users/" + img, alt="").comment-card__avatar
                .comment-card__user
                    h4.name #{name}
                    span.country #{country}
            .comment-card__rate
                span.rate #{rate}
                +star
        .comment-card__review 
            p #{review}