extends ./../layouts/main.pug 

block variables 
    - const title = "LaslesVPN"

block content 
    include ./../sections/header.pug
    include ./../sections/advantages.pug
    include ./../sections/features.pug
    include ./../sections/gradient.pug
    